<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'collections_fields', :f => f %>

  <hr />

  <%= f.fields_for :collectionizes do |each_collectionizes| %>
    <%= render 'collectionizes_fields', :f => each_collectionizes %>
    <%= each_collectionizes.fields_for :resource do |the_resource| %>
      <%= render 'resources/resources_fields', :f => the_resource %>
      <hr />
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
