<!DOCTYPE html>
<html>
<head>
  <title>Klife</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <nav class='top_menu'>
    <%= link_to "home", :root %>
    <% if current_user %>
      <%= link_to "log out", log_out_path %>
    <% else %>
      <%= link_to "log in", log_in_path %>
      <%= link_to "sign up", sign_up_path %>
    <% end %>
  </nav>


  <%= yield %>

</body>
</html>
