<!DOCTYPE html>
<html>
<head>
  <title>Klife</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <nav class='top_menu'>
    <ul>
      <li><%= link_to "home", :root %></li>
      <% if current_user %>
        <li><%= link_to "log out #{current_user.email}", log_out_path %></li>
      <% else %>
        <li><%= link_to "log in", log_in_path %></li>
        <li><%= link_to "sign up", sign_up_path %></li>
      <% end %>
      <li><%= link_to 'New Resource', new_resource_path %></li>
      <li><%= link_to 'Resources', resources_path %></li>
      <li><%= link_to 'New Collection', new_collection_path %></li>
      <li><%= link_to 'Collections', collections_path %></li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
